/*Border Management*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Variables*/
:root{
    --font: 'Courier New', Courier, monospace;
    --color: black;
    --txtC: white;
    --fill: linear-gradient(black,rgb(107, 107, 107));
    --ftfill: black;
}

/*Link Formating*/
a {
    color: var(--color);
    text-decoration: none;
}

/*Global Variables for Header*/
.header {
    font-family:var(--font);
    padding: 20px;
    align-items: center;
}

/*Logo Postioning*/
.header h1{
    display: flex;
    flex-wrap: wrap;
} 

/*Nav Bar Location Desktop*/
.header nav ul{
    padding: 70px 0;
    text-align: center;
    list-style-type: none;
    display: flex;
    float: right;
    position: relative;   
}

/*Nav Bar Spacing*/
.header ul{
    margin-top: -350px;
}

/*Nav Bar Postioning*/
.header li{
    text-align: center;
    justify-content: space-between;
    padding: 60px;
}

/*Art Postioning*/
.art{
    margin-left: 40%;
}

/*Subtitile Attributes*/
.subtitle{
    margin-top: 150px;
    margin-left: 150px;
    font-family:var(--font);
    font-size:x-large;
    font-weight:900;
    padding-bottom: 5px;
}

/*Border Box Object*/
.box{
    background-image: var(--fill);
    padding: 10px;
    margin-left: 10%;
    width: 80%;
    border: 4px dashed var(--txtC);
    border-radius: 50px;
    font-size: 14px;
    font-family: var(--font);
    color: var(--txtC);
    box-sizing: border-box;
}

/*Picture formating*/
.pictures{
    margin-left: 30%;
    padding: 20px;
}

/*list formating*/
.list{
    justify-content: space-between;
    padding-bottom: 10%;
    text-align: center;
}

/*Footer Visual Elements*/
.copyright{
    text-align: center;
    padding: 50px;
    border: 1px solid var(--color);
    width: 100%;
    background-color:var(--ftfill);
    color: var(--txtC);
}


/*Mobile Version Changes*/
@media screen and (max-width: 768px) {
    /*Header Re-scaling*/
    .header ul{
      flex-direction: column;
      position:relative;
      margin-top: 0px;
    }

    /*Art re-positioning*/
    .art{
        margin-left: 0%;
    }

    /*Subtitle Repositioning*/
    .subtitle{
        margin-left: 30px;
    }
    
    /*Mobile Picture Handling*/
    .pictures{
        display: none;
    }

  }




